@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

#root, html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Sen', sans-serif;
}

.app {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden; 
}

.background-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 1s ease-in-out; 
    opacity: 0; 
}

.background-wrapper.fade-in {
    opacity: 1; 
    transition: opacity 1s ease-in-out;
}

.background-wrapper.fade-out {
    opacity: 0; 
    transition: opacity 1s ease-in-out; 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 1;
}

/* Navbar styling */
.navbar {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    padding: 50px 0px;
    color: white;
    z-index: 3; 
    background-color: transparent; 
}

/* Navbar links styling */
.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 16px;
}

.navbar a:hover {
    text-decoration: underline; 
}

/* Assuming this is in your CSS file */
.navbar-icon {
    width: 24px; 
    height: 24px; 
    padding: 20px 0px;
    object-fit: contain; 
    margin: 0 10px; 
    filter: brightness(0) invert(1);
    color:rgba(0, 0, 0, 1)
}

.card {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    position: relative;
    z-index: 2; 
    color: white;
}

.book, .content {
    color: white;
}

h4, h3, h2, h5 {
    margin: 10px 0;
}

/* Button container for fixed bottom positioning */
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.button-next {
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: 0 40px;
}

.button {
    outline: none;
    text-decoration: none;
    background: none; 
    border: none;
    color: white; 
    cursor: pointer;
    font-size: 18px;
    padding: 0 20px; 
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); 
    transition: text-shadow 0.3s ease;
    width: auto; 
    white-space: nowrap; 
    font-size: 15px;
}

.button:hover {
    text-shadow: 10px 10px 16px rgba(0, 0, 0, 0.9); 
}

.button span {
    margin: 0 10px;
    text-transform: none; 
}

/* Style for the vertical line separator between buttons */
.separator {
    color: white;
    font-size: 18px;
}

/* Hadith content styles */
.hadith-header {
    font-size: 14px;
    text-align: left; 
    width: 100%; 
    margin-bottom: 10px; 
    font-weight: 100;
}

.book p, .bookName p, .chapterName p {
    font-size: 12px; 
    font-weight: 300;
    margin: 2px 0; 
}

.book {
    margin-bottom: 25px;
}

.content p {
    text-align: left;
    font-size: 25px; 
    margin: 10px 0; 
    font-weight: 500;
}

.hadith-ref {
    text-align: right; 
    width: 100%;
    margin-top: 10px; 
    font-weight: 100; 
}

/* Button for Next functionality */
.next-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    transition: text-shadow 0.3s ease;
    border-radius: 5px;
    outline: none;
    width: auto;
    white-space: nowrap;
}

.next-button:hover {
    text-shadow: 10px 10px 16px rgba(0, 0, 0, 0.9);
}

/* Fixed position dropdown container at the bottom */
.dropdown-container {
    position: fixed; 
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%; 
    max-width: 400%;
    z-index: 2; 
}

.dropdown-label {
    font-size: 16px;
    color: white;
    margin-right: 10px; 
}

.dropdown {
    font-size: 16px;
    padding: 8px 12px;
    border: 1px solid white;
    border-radius: 4px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
    width: 100%;
}

.dropdown option {
    background-color: black;
    color: white;
}

.skeleton-container {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    align-items: flex-start;
}

.skeleton-container-header{
    display: flex;
    flex-direction: column;
    gap: 10px; 
    align-items: center; 
    margin-bottom: 20px;
}

.skeleton-right {
    align-self: flex-end; 
}

.filter-button-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2;
}

/* Filter button styles */
.filter-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none;
}

.filter-icon {
    width: 24px;
    height: 24px;
    filter: invert(1) brightness(100%) grayscale(100%);
}

/* Filter dropdown styles */
.filter-dropdown {
    position: absolute;
    bottom: 60px; 
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    border: 1px solid white;
    border-radius: 4px;
    padding: 10px;
    width: 200px;
    z-index: 3;
    margin-bottom: -15px;
}

.filter-item {
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.filter-item input {
    margin-right: 8px;
}
