.skeleton-loader {
    background-color: #555; /* Darker base color */
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    animation: pulse 1.5s ease-in-out infinite;
  }
  
  .skeleton-loader::before {
    content: '';
    position: absolute;
    top: 0;
    left: -150%; /* Start off-screen */
    height: 100%;
    width: 150%; /* Large enough to cover */
    background: linear-gradient(
      90deg,
      rgba(212, 212, 212, 0) 0%,
      rgba(216, 216, 216, 0.5) 50%, /* Increased opacity for better visibility */
      rgba(0, 0, 0, 0) 100%
    );
    animation: slide 1.5s ease-in-out infinite;
  }
  
  @keyframes pulse {
    0% {
      background-color: #777; /* Darker base color */
    }
    50% {
      background-color: #555; /* Slightly lighter to create a noticeable pulse effect */
    }
    100% {
      background-color: #777; /* Return to the base color */
    }
  }
  
  @keyframes slide {
    0% {
      left: -150%; /* Start off-screen */
    }
    100% {
      left: 150%; /* Slide to the end */
    }
  }
  